<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.StudentConnectionString"
            connectionString="Data Source=LAPTOP-3KELG2HB\SQL_SERVER;Initial Catalog=Student;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.DataConnectionString"
            connectionString="Data Source=LAPTOP-3KELG2HB\SQL_SERVER;Initial Catalog=Data;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>